/* Boton de guardar */

.guardar:hover {
    cursor: pointer;
}

.guardar {
    list-style: none;
    display: inline-block;
    text-align: start;
    padding: 5px 10px;
    background: #27b0ff;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
}

ul {
    padding-left: 0;
    align-items: start;
}

/* calendario */

.dia:hover {
    cursor: pointer;
}


/* reloj y cronometro*/

.reloj {
    font-size: 48px;
    font-weight: bold;
    color: #00eeff;
}

.tiempo {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    justify-content: 5px;
    border-radius: 5px;
}

.cronometro {
    margin: 10px;
    align-items: center;
}

.cent {
    margin-top: 15px;
    padding-left: 15%;
}


/* rutina */

#count {
    margin-top: 20px;
    font-weight: bold;
}

/* Satisfaccion */

.satisfaccion {
    width: 400px;
}

.mal {
    float: left;
}

.bien {
    float: right;
}

/* centro de control */

.esp {
    margin: 10px
}

/* titulos */

.titu {
    text-align: center;
}