/* Boton de guardar */

.guardar:hover {
    cursor: pointer;
}

.guardar {
    list-style: none;
    display: inline-block;
    text-align: start;
    padding: 5px 10px;
    background: #27b0ff;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
}

ul {
    padding-left: 0;
    align-items: start;
}

/* calendario */

.dia:hover {
    cursor: pointer;
}


/* reloj */

.reloj {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

.tiempo {
    background-color: black;
    padding: 30px;
    justify-content: 5px;
    border-radius: 5px;
}

/* comidas */

.comidas {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.esp {
    padding: 10px;
}

#count {
    margin-top: 20px;
    font-weight: bold;
}

/* Satisfaccion */

.satisfaccion {
    width: 400px;
}

.mal {
    float: left;
}

.bien {
    float: right;
}