.guardar:hover {
    cursor: pointer;
}

.guardar {
    list-style: none;
    display: inline-block;
    text-align: start;
    padding: 5px 10px;
    background: #27b0ff;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
}

ul {
    padding-left: 0;
    align-items: start;
}

.max-w-[400px] {
    width: 700px;
}